
:root {
    --green: #93D36E;
    --red: #E71611;
    --blue: #1564F7;
    --yellow: #FFFB65;
}

.app {
    text-align: center;
}

.canvas-wrapper {
    margin-top: 4rem;
    display: inline-grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 0;
}

.controls {
    min-height: 50px;
}

.canvas-item {
    width: 250px;
    height: 250px;
}

.canvas-item--red {
    background: var(--red);
}

.canvas-item--green {
    background: var(--green);
}

.canvas-item--blue {
    background: var(--blue);
}

.canvas-item--yellow {
    background: var(--yellow);
}

.canvas-item--pressed {
    opacity: .5;
}
